.home{
    padding: 20px;
    display: inline-grid;
    
    /* justify-content: center;
    align-items: center; */
    /* margin: 30px; */
    border: 2px solid greenyellow;

}
h1{
    text-align: center;
}
button{
    margin: 20px;
    width: 100px;
    border-radius: 4px;
    height: 24px;
}
img{
    width: 300px;
    height:300px;
}
.Center{
    display: flexbox;
    align-items: center;
    border:2px solid red;
    justify-content: center;
    width: 100%;
}
.Center>.home{
    width: 100%;
    justify-content: center;
}